    /* Project-wide style */
    
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    body {
        font-family: 'Rubik', sans-serif;
        background-color: #001d3d;
        color: #F4F6FF;
    }
    
    .mainbox {
        padding-top: 58px;
    }
    
    .nav {
        background-color: #000814;
    }
    
    .contact {
        background-color: #000814;
        justify-content: center;
        height: 20vh;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
    
    .kepala {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .tales {
        width: 100%;
    }
    
    .carousel-inner {
        height: 100%;
        max-width: 759.6px;
    }
    
    .ig {
        color: blue;
        width: 5vw;
    }
    
    .linkin {
        color: aliceblue;
        width: 5vw;
    }
    
    .line {
        color: lime;
        width: 5vw;
    }
    
    .twitter {
        color: aqua;
        width: 5vw;
    }
    
    .logo {
        height: 6vh;
    }
    
    .bio {
        height: 75vh;
    }
    
    .biodata {
        display: flex;
        align-items: center;
        align-content: center;
    }
    
    .des {
        background-color: white;
    }
    
    .square {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        align-items: stretch;
    }
    
    .judul {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: #127681;
    }
    
    .halaman {
        min-height: 73vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .tampilan {
        width: 80vw;
    }
    
    .tanda {
        width: 30vw;
    }
    
    .top {
        display: flex;
        flex-direction: row;
        width: 80vw;
    }
    
    .head {
        display: flex;
        justify-content: center;
    }
    
    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-style: solid;
        border-radius: 10px;
        padding: 3vh;
        margin: 3vh;
    }
    
    .btn-circle.btn-md {
        width: 50px;
        height: 50px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }
    
    .btn-circle.btn-xl {
        width: 6vw;
        height: 6vw;
        padding: 10px 16px;
        border-radius: 3vw;
        text-align: center;
    }
    
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
    }
    
    .tulisan {
        color: black;
    }
    
    .tengah {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    /* Loader */
    
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 2s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    
    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);
            /* IE 9 */
            transform: rotate(0deg);
            /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);
            /* IE 9 */
            transform: rotate(360deg);
            /* Firefox 16+, IE 10+, Opera */
        }
    }
    
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);
            /* IE 9 */
            transform: rotate(0deg);
            /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);
            /* IE 9 */
            transform: rotate(360deg);
            /* Firefox 16+, IE 10+, Opera */
        }
    }
    
    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #001d3d;
        z-index: 1000;
    }
    
    #loader-wrapper .loader-section.section-left {
        left: 0;
    }
    
    #loader-wrapper .loader-section.section-right {
        right: 0;
    }
    
    #loader {
        z-index: 1001;
        /* anything higher than z-index: 1000 of .loader-section */
    }
    /* Loaded */
    
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);
        /* IE 9 */
        transform: translateX(-100%);
        /* Firefox 16+, IE 10+, Opera */
    }
    
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);
        /* IE 9 */
        transform: translateX(100%);
        /* Firefox 16+, IE 10+, Opera */
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    
    .loaded #loader-wrapper {
        visibility: hidden;
    }
    
    .loaded #loader-wrapper .loader-section.section-right,
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transition: all 0.3s 0.3s ease-out;
        transition: all 0.3s 0.3s ease-out;
    }
    
    .loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 0.3s 0.6s ease-out;
        transition: all 0.3s 0.6s ease-out;
    }
    
    .accordion-container {
        margin: 4vh 0vw;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    .accordion-head {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        background-color: #000814;
        padding: 2vh 2vw;
        border-radius: 10px;
    }
    
    .kotak {
        flex-grow: 1;
        background-color: #000814;
        margin: 1vh 0vw;
    }
    
    .accordion-content {
        display: none;
        padding: 2vh 2vw;
        background-color: #091a36;
    }
    
    .education-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .inikotak {
        display: flex;
        flex-direction: row;
        background-color: #000814;
    }
    
    .place {
        display: flex;
        flex-direction: column;
        padding: 5vh 10vw;
    }
    
    .atas {
        height: 20vh;
    }
    
    .hasil {
        height: fit-content;
        min-height: 80vh;
    }
    
    .item {
        margin: 1vh 1vw;
        border-style: solid;
        border-radius: 10px;
        padding: 1vh 1vw;
        height: fit-content;
        min-height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .pencariran {
        align-items: center;
    }
    
    .detailbuku {
        display: flex;
        flex-direction: column;
        margin: 0 2vw;
    }