{% extends 'base.html' %} {% load static %} {% block meta %}
<title>My Schedule</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="place atas">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Masukan judul buku" id="cari">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-cari">Search</button>
                </div>
            </div>
    </div>

    <div class="place hasil">
        <div class="kepala">
            <h2>Hasil Pencarian</h2>
        </div>
        <div class="pencarian">
            
        </div>
    </div>

</div>
{% endblock content %}