{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Project</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="container-fluid">
        <div class="halaman">
            <h1>I'm Sorry</h1>
            <h3>Nothing to see here :"</h3>
            <h3>I hope I will get some project to display here soon </h3>
        </div>
    </div>
</div>
{% endblock content %}