{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Log In</title>
{% endblock meta %} {% block content %}
<div class="container-fluid halaman">
    <div class='place tengah'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" value="Login">Login</button>
        </form>
        <a href="{% url 'main:home' %}">Back to Home</a>
    </div>
</div>
{% endblock content %}