{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Activities</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->
    <div class="head">
        <h1>Activities</h1>
    </div> 
    <div class="container">
        <div class="tengah row">
            {% for kegiatan in database.kegiatan %}
            <div class="content col-3">
                <h3>{{ kegiatan.nama }}</h3>
                {% for peserta in database.peserta %}
                    {% if peserta.kegiatan.nama == kegiatan.nama %}
                    <p>{{ peserta.nama }}</p>
                    {% endif %}
                {% endfor %}
                <div class="pinggir">

                    <hr class ="bg-primary">
                    <form id="form" method="POST" action="/activities/post-peserta/{{ kegiatan.id }}" enctype="multipart/form-data"> 
                    {% csrf_token %}
                        {{ forms.form_peserta.as_p }}

                        <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Submit</button>
                    </form>
                </div>
            </div>
            {% endfor %} 
        </div>
            <button type="button" class="btn btn-primary btn-circle btn-xl float" data-toggle="modal" data-target="#Tambahkegiatan"></button>
            <div class="tulisan modal fade" id="Tambahkegiatan" tabindex="-1" role="dialog" aria-labelledby="tambahkegiatanTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Pendaftaran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form" method="POST" action="/activities/post-kegiatan" enctype="multipart/form-data">{% csrf_token %}
                                 {{ forms.form_kegiatan.as_p }}

                                <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}