{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/loader.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <link rel="icon" href="https://lh3.googleusercontent.com/5sDBb4bZq6FJZ6tDWLxJPcJN5V_02GLgZ5D9QPyiDMA8HRCCGNzcPnyzvexAq11bTATwMbTgdVnlOgt9u1kpiyIXTl3UM3c9EQN-LbWY-xiUaZXUq3y8wHozTUFlCKScycOVnjVDDA=s260-p-k">
    {% block meta %} {% endblock meta %}
</head>

<body>
    <div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
    </div>
    <nav class="nav navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Y02</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'home' %}active{% endif %}" href="{% url 'main:home'%}">Home</a>
                </li>
                <li class=" nav-item ">
                    <a class="nav-link {% if nbar == 'activities' %}active{% endif %}" href="{% url 'activities:activities'%}">Activities</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if nbar == 'project' %}active{% endif %}" href="{% url 'project:project'%}">Project</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if nbar == 'search' %}active{% endif %}" href="{% url 'search:search'%}">Search</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if nbar == 'schedule' %}active{% endif %}" href="{% url 'schedule:schedule'%}">My Schedule</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello {{user.get_username}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        
                        <a class="dropdown-item" href="{% url 'main:logout' %}">Log out</a>
                    </div>
                {% else %}
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello Guest
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:login' %}">Log in</a>
                        <a class="dropdown-item" href="{% url 'main:signup' %}">Sign in</a>
                    </div>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="mainbox container-fluid">
        {% block content %} {% endblock content %}

    </div>
    
    <footer class="page-footer">
        <div class="contact row row-cols-4 ">
            <div class="kepala col-12 ">
                <h3>See me on:</h3>
                <p> </p>
            </div>
            <div class="ig col-1 ">
                <a href="https://www.instagram.com/prst_y02/ ">
                    <img src="/static/logo/instagram.png " class="logo " alt=" ">
                </a>
            </div>
            <div class="linkin col-1 ">
                <a href="https://www.linkedin.com/in/yadhit-prasetya-2857b5185 ">
                    <img src="/static/logo/linkedin.png " class="logo " alt=" ">
                </a>
            </div>
            <div class="line col-1 ">
                <a href="https://line.me/ti/p/NE_w8JKFyE ">
                    <img src="/static/logo/line-logo.png " class="logo " alt=" ">
                </a>
            </div>
            <div class="twitter col-1 ">
                <a href="https://twitter.com/nightwalker_02?s=09 ">
                    <img src="/static/logo/twitter.png " href="https://twitter.com/nightwalker_02?s=09 " class="logo " alt=" ">
                </a>
            </div>

        </div>
    </footer>


    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>

</html>