{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Home</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="row ">
        <div id="carouselme" class="me col-sm carousel slide carousel-fade " data-ride="carousel ">
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <img src="{% static '/img/me.jpg' %}" class="tales img-responsive d-block w-100 " alt="... ">
                </div>                  
                <div class="carousel-item ">
                    <img src="{% static '/img/me2.jpg' %}" class="tales d-block w-100 " alt="... ">
                </div> 
                <div class="carousel-item ">
                    <img src="{% static '/img/me3.jpg' %}" class="tales d-block w-100 " alt="... ">
                </div>                 
            </div>
            <a class="carousel-control-prev " href="#carouselme" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                <span class="sr-only ">Previous</span>
            </a>
            <a class="carousel-control-next " href="#carouselme" role="button" data-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true "></span>
                <span class="sr-only ">Next</span>
            </a>
        </div>
        <div class="judul col-sm ">
            <h4>Hello, I'm</h4>
            <h1 class="name ">Yadhit Prasetya</h1>
            <p class="stat ">Sophomore Student of Information System at University Indonesia</p>
        </div>
    </div>

    

    <div class="row ">

        <div class="judul col-sm ">
            <h1>Education</h1>
        </div>

        <div class="accordion-container col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="inikotak" id="satu">
                <div class="kotak kotak-satu">
                    <div class="accordion-head">
                        <h5>Activity</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary up-button"><img src="{% static '/logo/keyboard_arrow_up-white-18dp.svg' %}"></img></button>
                            <button type="button" class="btn btn-secondary down-button"><img src="{% static '/logo/keyboard_arrow_down-white-18dp.svg' %}"></img></button>
                            <a class="btn btn-primary" id = "activitySatu"><img src="{% static '/logo/dehaze-white-18dp.svg' %}"></a>
                        </div>
                    </div>
                    <div class="accordion-content" id="content-satu">
                        <div class="activity-content column">
                            <h5>Sophomore Student of Fasilkom UI</h5>
                        </div>
                        <div class="activity-content column">
                            <h5>HRD of Communication and Information Bureau at IMAMI UI</h5>
                        </div>
                        <div class="activity-content column">
                            <h5>Deputy of Design Divition of KGTK 18 </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inikotak" id="dua">
                <div class="kotak kotak-dua">
                    <div class="accordion-head">
                        <h5>General Information</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary up-button"><img src="{% static '/logo/keyboard_arrow_up-white-18dp.svg' %}"></img></button>
                            <button type="button" class="btn btn-secondary down-button"><img src="{% static '/logo/keyboard_arrow_down-white-18dp.svg' %}"></img></button>
                            <a class="btn btn-primary" id = "activityDua"><img src="{% static '/logo/dehaze-white-18dp.svg' %}"></a>
                        </div>
                    </div>
                    <div class="accordion-content" id="content-dua">
                        <table>
                            <tr>
                                <td>Full Name</td>
                                <td>: Yadhit Prasetya</td>
                            </tr>
                            <tr>
                                <td>Nick Name</td>
                                <td>: Yadhit</td>
                            </tr>
                                <td>Date of Birth</td>
                                <td>: 2<sup>nd</sup> June 2000 </td>
                            </tr>
                            <tr>
                                <td>Religion</td>
                                <td>: Islam</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>: Kota Solok, Sumatera Barat</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>: Indonesia</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>: yadhitprasetyaixa@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="inikotak" id="tiga">
                <div class="kotak kotak-tiga">
                    <div class="accordion-head">
                        <h5>Skill</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary up-button"><img src="{% static '/logo/keyboard_arrow_up-white-18dp.svg' %}"></img></button>
                            <button type="button" class="btn btn-secondary down-button"><img src="{% static '/logo/keyboard_arrow_down-white-18dp.svg' %}"></img></button>                     
                            <a class="btn btn-primary" id = "activityTiga"><img src="{% static '/logo/dehaze-white-18dp.svg' %}"></a>
                        </div>
                    </div>
                    <div class="accordion-content" id="content-tiga">
                        <div class="activity-content column">
                            <h5>Basic Programing</h5>
                        </div>
                        <div class="activity-content column">
                            <h5>Graphic Design</h5>
                        </div>
                        <div class="activity-content column">
                            <h5>Video Editing</h5>
                        </div>
                        <div class="activity-content column">
                            <h5>Photography</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inikotak" id="empat">
                <div class="kotak kotak-empat">
                    <div class="accordion-head">
                        <h5>Education</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary up-button"><img src="{% static '/logo/keyboard_arrow_up-white-18dp.svg' %}"></img></button>
                            <button type="button" class="btn btn-secondary down-button"><img src="{% static '/logo/keyboard_arrow_down-white-18dp.svg' %}"></img></button>         
                            <a class="btn btn-primary" id = "activityEmpat"><img src="{% static '/logo/dehaze-white-18dp.svg' %}"></img></a>
                        </div>
                    </div>
                    <div class="accordion-content" id="content-empat">
                        <div class="education-content">
                                <h5>SDN 01 Tanah Garam</h5>
                                <p>2007 - 2013</p>
                        </div>
                        <div class="education-content">
                                <h5>SMPN 1 Kota Solok</h5>
                                <p>2016 - 2019</p>
                        </div>
                        <div class="education-content">
                                <h5>SMAN 1 Padang Panjang</h5>
                                <p>2016 - 2019</p>
                        </div>
                        <div class="education-content">
                                <h5>Universitas Indonesia</h5>
                                <p>2019 - now</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock content %}