{% extends 'base.html' %} {% load static %} {% block meta %}
<title>My Schedule</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="container-fluid">
        <div class="halaman">
            <h1>Add Course</h1>
            {% if par %}
            <div class="tanda alert alert-success" role="alert">
                {{ tes }} Sukses ditambahkan ke Schedule
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form action="." method="POST">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-7 mb-3">
                        <label for="validationDefault01">Mata Kuliah</label>
                        <input type="text" class="form-control" name="nama" placeholder="Nama Mata Kuliah" required>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label for="validationDefault04">Semester tahun</label>
                        <select class="custom-select" name="semester" placeholder="Semester" required>
                            <option selected></option>
                            <option value="Gasal 2019/2020">Gasal 2019/2020</option>
                            <option value="Genap 2019/2020">Genap 2019/2020</option>
                            <option value="Gasal 2020/2021">Gasal 2020/2021</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 mb-3">
                        <label for="validationDefault01">Nama Dosen</label>
                        <input type="text" class="form-control" name="dosen" placeholder="Nama Dosen"required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="validationDefault04">Jumlah SKS</label>
                        <select class="custom-select" name="sks" placeholder="Jumlah SKS" required>
                            <option selected></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 mb-3">
                        <label for="validationDefault01">Ruang Kuliah</label>
                        <input type="text" class="form-control" name="ruang" placeholder="Ruang Kuliah"required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Deskripsi Mata Kuliah</label>
                    <textarea class="form-control" name="desc" placeholder="Deskripsi Mata Kuliah" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}
