{% extends 'base.html' %} {% load static %} {% block meta %}
<title>My Schedule</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="container-fluid">

        <div class="halaman">
            <h2>Apakah kamu ingin menghapus {{matkul.nama_matkul}}</h2>

            <form action="." method="POST">{% csrf_token %}
                <a class="btn btn-outline-primary" href="{% url 'schedule:schedule' %}">Cancel</a>
                <input class="btn btn-outline-danger" type="submit" Value="Confirm" name"Confirm">
            </form>
        </div>
        
    </div>
</div>
{% endblock content %}
