{% extends 'base.html' %} {% load static %} {% block meta %}
<title>My Schedule</title>
{% endblock meta %} {% block content %}
<div class="container-fluid ">
    <!-- Content here -->

    <div class="container-fluid">
        <div class="halaman">
            <div class="top">
                <a class="nav-link" href="{% url 'schedule:addschedule'%}">
                    <button type="button" class="btn btn-outline-primary" href="{% url 'schedule:addschedule'%}">Add Schedule</button>
                </a>
            </div>

            <div>
                <table class="table table-dark tampilan">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mata Kuliah</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Jumlah SKS</th>
                            <th scope="col">Nama Dosen</th>
                            <th scope="col">Ruang Kuliah</th>
                            <th scope="col">Deskripsi</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for matkul in object_list %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>{{ matkul.nama_matkul }}</td>
                                    <td>{{ matkul.semester_tahun }}</td>
                                    <td>{{ matkul.jumlah_sks }}</td>
                                    <td>{{ matkul.nama_dosen }}</td>
                                    <td>{{ matkul.ruang_kuliah }}</td>
                                    <td>{{ matkul.deskripsi }}</td>
                                    <td>
                                        <a class="btn btn-outline-danger" value="Delete" href="{% url 'schedule:delete' matkul.id %}">Remove</a>   
                                    </td>
                                </tr>
                            {% endfor %}
                           
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}